body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  button {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bolder;
  }
  
  #container {
    width: 100%;
  }
  
  #container_letra_x {
    text-align: center;
    align-items: center;
    display: flex;
    height: 100px;
  }
  
  #container_letra_x .letra {
    color: rgb(0, 0, 0);
  
    width: 100%;
    font-weight: bolder;
    font-size: 60px;
  }
  
  #container_numero {
    text-align: center;
    display: grid;
    grid-template-columns: 20% 20% 20% 20% 20%;
  }
  
  #container_numero .botao-numero {
    text-align: center;
  
    color: rgb(255, 255, 255);
  
    width: 70px;
    height: 70px;
    margin: 5px;
  
    font-size: 40px;
  }
  
  #container_apagar {
    width: 100%;
    text-align: left;
    margin: 1.5%;
  }
  
  .botao-apagar {
    text-align: center;
    padding: 10px 30px 10px 40px;
    font-size: 15px;
  }